<header class="fixed top-0 left-0 w-full flex justify-center items-center py-3 bg-red-700 shadow-md z-10">
  <nav class="w-full sm:w-[600px] md:w-[800px] lg:w-[1000px] xl:w-[1120px] mx-auto">
    <ul class="flex flex-wrap justify-center items-center gap-x-4 sm:gap-x-6 md:gap-x-8 lg:gap-x-10 opacity-90">
      <li><a href="#top" class="text-white hover:text-red-300 transition-colors duration-300 text-sm sm:text-base">Inicio</a></li>
      <li><a href="#destacados" class="text-white hover:text-red-300 transition-colors duration-300 text-sm sm:text-base">Destacados</a></li>
      <li><a href="#tabla" class="text-white hover:text-red-300 transition-colors duration-300 text-sm sm:text-base">Tabla</a></li>
      <li><a href="#jugadores" class="text-white hover:text-red-300 transition-colors duration-300 text-sm sm:text-base">Jugadores</a></li>
      <li><a href="mailto:jesuzalez2020@gmail.com" class="text-white hover:text-red-300 transition-colors duration-300 text-sm sm:text-base">Sugerencias</a></li>
    </ul>
  </nav>
</header>
