<header class="fixed top-0 left-0 w-full flex justify-center items-center py-3 bg-red-700 shadow-md z-10">
    <nav class="w-full xl:w-[1120px] mx-auto">
      <ul class="flex justify-center items-center gap-x-10 opacity-90">
        <li><a href="#top" class="text-white hover:text-red-300 transition-colors duration-300">Inicio</a></li>
        <li><a href="#des" class="text-white hover:text-red-300 transition-colors duration-300">Destacados</a></li>
        <li><a href="#tabla" class="text-white hover:text-red-300 transition-colors duration-300">Tabla</a></li> 
        <li><a href="#jugadores" class="text-white hover:text-red-300 transition-colors duration-300">Jugadores</a></li>
        <li><a href="mailto:jesuzalez2020@gmail.com" class="text-white hover:text-red-300 transition-colors duration-300">Sugerencias</a></li>
      </ul>
    </nav>
  </header>
  